<!-- Top Bar Start -->
<div class="topbar">

    <!-- LOGO -->
    <div class="topbar-left">
        <a href="/" class="logo">
            <span class="logo-light">
                <img src="assets/images/logo.png" class="imgaligndashboard" alt="" height="60">
            </span>
            <span class="logo-sm">
                <img src="assets/images/logo.png" class="" alt="" height="40">
            </span>
        </a>
    </div>

    <nav class="navbar-custom" style="padding-top: 5px;">
        <ul class="navbar-right list-inline mb-0" style="float: right;width: 200px;">
            <li class="list-inline-item" style="float: left;">
                <div class="nav-pro-img pt-1">
                       <img src="assets/images/menuuser.svg" alt="user" width="40" class="rounded-circle">
                    
                </div>
            </li>
            <li class="nav-item dropdown" style="padding-top: 10px;">
                <a class="nav-link" href="javascript:void(0)" 
                [matMenuTriggerFor]="menu" 
                #menuTrigger="matMenuTrigger" (click)="menuTrigger.openMenu()" 
                id="navbarDropdownMenuLink" 
                data-toggle="dropdown" aria-haspopup="true" 
                aria-expanded="false" style="outline: none;font-size: 12px;color: #000  ;">
                <span *ngIf="userData?.role == 'merchant'">Merchant</span>
                <span *ngIf="userData?.role != 'merchant'">{{userData?.firstName}} {{userData?.lastName}}</span>
                  <img style="margin-left:10px" src="assets/images/down-arrow.png" alt="" width="15">
                </a>
               
                <mat-menu #menu="matMenu" [overlapTrigger]="false">
                    <span (mouseleave)="menuTrigger.closeMenu()">
                   
                    <button mat-menu-item (click)="logout()">
                        <span>Logout</span>
                    </button>
                    </span>
                </mat-menu>
            </li>

           
        </ul>

        

    </nav>

</div>
<!-- Top Bar End -->