<p>green-card works!</p>
<div class="content-page">
  <!-- Start content -->
  <div class="content">
    <h2 class="header1">Record Visit</h2>
  </div>
  <div class="content-body">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-6">
            <div class="input-group ">
              <input class="form-control py-2 border-right-0 border" type="search" [(ngModel)]="userId"
                placeholder="Name, User ID, Email">
              <span class="input-group-append">
                <button class="btn btn-outline-secondary border-left-0 border" type="button" (click)="getUserById()">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
          </div>
          <div class="col-6">
            <div style="float: right;">

                <div class="form-row m-0" style="display: none;">
                            <div class="form-group col-md-12">
                                <label for="inputEmail4">All Card Type</label>
                                <select class="form-control" formControlName="firstName">
                                  <option value="">Select</option>
                                  <option value="local_card">Local Card</option>
                                  <option value="business_card">Business Card</option>
                                  <option value="international_card">International Card</option>
                                </select>
                            </div>
                  </div>
             
            </div>
          </div>

        </div>

        <div class="row" *ngIf="userData">
          <div class="col-6 pt-3">
            <div class="">
              <div class="nearby-user">
                <div class="row">
                  <div class="col-md-2 col-sm-2 p-0" style="text-align: right;">
                    <img src="assets/images/menuuser.svg" alt="user" width="60" class="rounded-circle">
                  </div>
                  <div class="col-md-4 col-sm-7">
                    <div class="pt-2">{{userData?.firstName}} {{userData?.lastName}}</div>
                    <h5><a href="#" class="profile-link">Local Card</a></h5>
                  </div>
                  <div class="col-md-4 col-sm-7">
                    <button type="button" class="btn btn-primary grantBtn" (click)="grandDiscount(userData)" >Grant Discount</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="content-body">
    <div class="card">
      <div class="card-body">
         <div class="row">
                    
                    <div class="col-8" style="text-align: right;">
                        <div class="row" style="text-align: right;">
                             <div class="col-6">
                        <div class="input-group ">
                            <input class="form-control py-2 border-right-0 border" 
                            placeholder="Name, Email" type="search" [(ngModel)]="filter">
                            <span class="input-group-append">
                                <button class="btn btn-outline-secondary border-left-0 border" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-6" style="text-align: right;">
                       
                    </div>
                           
                        </div>
                    </div>
                </div>
        <div class="row">
          <div class="col-12">
            <h2 class="header2">Selected Records - <span style="color:#07555c">{{records.length}}</span></h2>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">User ID</th>
                  <th scope="col">Email</th>
                  <th scope="col">Card Type</th>
                  <th scope="col">Time Stamp</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let record of records | search: 'userName,email,phoneNumber':filter | paginate: { itemsPerPage: 10,currentPage: q }">
                  <th scope="row">{{record?.firstName}} {{record?.lastName}}</th>
                  <th scope="row">{{record?.userId}}</th>
                       <th scope="row">{{record?.email}}</th>
                  <td>{{record?.card_type}} </td>
                
                  <td>{{record?.date | date: 'dd/mm/yyyy | hh:mm a'}}</td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content-body">
    <div class="row">
      <div class="col-12 px-0">
                    <pagination-controls class="pagination pagination-lg"
                    (pageChange)="q = $event"
                     responsive="false"
                      previousLabel=""
                      nextLabel=""
                    ></pagination-controls>
      </div>
    </div>
  </div>



</div>