<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="row">
            <div class="col-6">
                <h2 class="header1">Withdrawal Request</h2>
            </div>
            
        </div>
    </div>
     <div class="content-body">
        <div class="card">
            <div class="card-body">
                 <div class="row">
                   <div class="col-6">
                  <div class="input-group ">
            <input class="form-control py-2 border-right-0 border" type="search" value="search" id="example-search-input">
            <span class="input-group-append">
                <button class="btn btn-outline-secondary border-left-0 border" type="button">
                    <i class="fa fa-search"></i>
                </button>
              </span>
        </div>
                  </div>
                   <div class="col-6">
                       <div class="row" >
  <div class="col-4"></div>
                        <div class="col-4">
                           <mat-form-field appearance="fill">
                                <mat-label>Sort By</mat-label>
                                <mat-select>
                                    <mat-option value="one" selected>Completed</mat-option>
                                    <mat-option value="one">Pending</mat-option>
                                    <mat-option value="one">Decline</mat-option>
                                </mat-select>
                                </mat-form-field>
                        </div>
                            <div class="col-4">
                              <mat-form-field appearance="fill">
                                <mat-label>Card Type</mat-label>
                                <mat-select>
                                    <mat-option value="one" selected>Local Card</mat-option>
                            <mat-option value="one">Business Card</mat-option>
                            <mat-option value="one">International Card</mat-option>
                                </mat-select>
                                </mat-form-field>
                          </div>
                           
                        </div>
                   </div>
                </div>
                <div class="row">
                  <div class="col-12">
                 <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">User Details</th>
                            <th scope="col">Payment Mode</th>
                            <th scope="col">TransactionID</th>
                            <th scope="col">W.Points</th>
                            <th scope="col">W.Amount</th>
                            <th scope="col">Status</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                       <tr *ngFor="let transaction of userwithdrawlist | paginate: { itemsPerPage: 2,currentPage: q }">
                            <th scope="row">
                                {{transaction?.user_details[0].firstName}} {{transaction?.user_details[0].lastName}}
                                <br />
                                {{transaction?.user_details[0].email}}
                            </th>
                            <td> {{transaction?.transfertype}} </td>
                            <td>10501823541050</td>
                            <td> {{transaction?.redeemedpoints}} </td>
                                  <td>{{transaction?.redeemedpoints * pointsprice}}</td>
                              <td>
                                <button type="button" *ngIf="transaction.status == 'completed'"
                                class="btn btn-sm button-green">Completed</button>
                                    <button type="button" *ngIf="transaction.status == 'pending'"
                                class="btn btn-sm button-orange">Pending</button>
                                <button type="button" *ngIf="transaction.status == 'cancelled'"
                                class="btn btn-sm button-red">Pending</button>
                            </td>
                            <td>
                                 <a href="javasript:void(0)" (click)="userdetailsDialog(transaction._id)"
                                   style="color: #07555c;font-weight: 600;text-decoration: underline;">
                                    View Details
                                </a>
                            </td>
              </tr>
              
              
              

                    </tbody>
                    </table>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content-body">
    <div class="row">
         <div class="col-12 px-0">
                    <pagination-controls class="pagination pagination-lg"
                    (pageChange)="q = $event"
                     responsive="false"
                      previousLabel=""
                      nextLabel=""
                    ></pagination-controls>


                
                </div>
    </div>
</div>



</div>
