<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="row">
            <div class="col-6">
                <h2 class="header1">Withdrawal Request</h2>
            </div>
            
        </div>
    </div>
     <div class="content-body">
        <div class="card">
            <div class="card-body">
                 <div class="row">
                   <div class="col-6">
                  <div class="input-group ">
            <input class="form-control py-2 border-right-0 border" type="search" value="search" id="example-search-input">
            <span class="input-group-append">
                <button class="btn btn-outline-secondary border-left-0 border" type="button">
                    <i class="fa fa-search"></i>
                </button>
              </span>
        </div>
                  </div>
                   <div class="col-6">
                       <div class="row" >
  <div class="col-4"></div>
                        <div class="col-4">
                            <button type="button" class="btn btn-outline-primary">Sort By   &nbsp;&nbsp;&nbsp; 
                                <img src="assets/images/sort-down.svg" 
                                     alt="user" width="20"  ></button>
                        </div>
                            <div class="col-3">
                              <mat-form-field appearance="fill">
                                <mat-label>Cart Type</mat-label>
                                <mat-select>
                                    <mat-option value="one">Store 1</mat-option>
                                </mat-select>
                                </mat-form-field>
                          </div>
                           
                        </div>
                   </div>
                </div>
                <div class="row">
                  <div class="col-12">
                 <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">User name</th>
                            <th scope="col">Payment Mode</th>
                            <th scope="col">Details</th>
                            <th scope="col">Withdraw Amount</th>
                            <th scope="col">Status</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Grabriel Samuel</th>
                            <td>Bank Transfer </td>
                            <td>10501823541050</td>
                            <td>$ 400</td>
                            <td>
                                 <button class="btn btn-primary1" type="submit">Completed</button>
                            </td>
                            <td>
                                 <a href="javasript:void(0)" (click)="userdetailsDialog()"  style="color: #07555c;font-weight: 600;text-decoration: underline;">
                                    View Details
                                </a>
                            </td>
              </tr>
               <tr>
                            <th scope="row">Grabriel Samuel</th>
                            <td>Bank Transfer </td>
                            <td>10501823541050</td>
                            <td>$ 400</td>
                           
                    <td>
                      <button type="button" class="btn btn-outline-warning1">Pending
                    </button>
                  </td>
                  <td>
                                 <a href="javasript:void(0)" (click)="userdetailsDialog()"  style="color: #07555c;font-weight: 600;text-decoration: underline;">
                                    View Details
                                </a>
                            </td>
              </tr>
               <tr>
                            <th scope="row">Grabriel Samuel</th>
                            <td>Bank Transfer </td>
                            <td>10501823541050</td>
                            <td>$ 400</td>
                           
                    <td>
                      <button type="button" class="btn btn-outline-danger">Decline
                      </button>
                  </td>
                  <td>
                                  <a href="javasript:void(0)" (click)="userdetailsDialog()"  
                                  style="color: #07555c;font-weight: 600;text-decoration: underline;">
                                    View Details
                                </a>
                            </td>
              </tr>
              
              

                    </tbody>
                    </table>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content-body">
    <div class="row">
        <div class="col-12">
                            <nav aria-label="Page navigation example" >
                <ul class="pagination" style="float:right;">
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                   
                </ul>
                </nav>
        </div>
    </div>
</div>



</div>
