<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="row">
            <div class="col-6">
                <h2 class="header1">Customers</h2>
            </div>

        </div>
    </div>
    <div class="content-body">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-4">
                        <div class="input-group ">
                            <input class="form-control py-2 border-right-0 border" type="search" value="search"
                                id="example-search-input">
                            <span class="input-group-append">
                                <button class="btn btn-outline-secondary border-left-0 border" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-8" style="text-align: right;">
                        <div class="row" style="text-align: right;">

                            <div class="col-4">

                            </div>
                            <div class="col-4">
                                <mat-form-field appearance="fill">
                                    <mat-label>Sort By</mat-label>
                                    <mat-select>
                                        <mat-option value="one" selected>Active</mat-option>
                                        <mat-option value="one">Blocked</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-4">
                                <mat-form-field appearance="fill">
                                    <mat-label>Card Type</mat-label>
                                    <mat-select>
                                        <mat-option value="one" selected>Local Card</mat-option>
                                        <mat-option value="one">Business Card</mat-option>
                                        <mat-option value="one">International Card</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">User name</th>
                                    <th scope="col">Card Type</th>
                                    <th scope="col">Records</th>
                                    <th scope="col">No. Of Referrals</th>
                                    <th scope="col">Location</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of users">
                                    <th scope="row">{{user?.firstName}} {{user?.lastName}}</th> 
                                    <td>International </td>
                                    <td>34</td>
                                    <td>4</td>

                                    <td>Location1</td>
                                    <td>
                                        <a class="nav-link" href="javascript:void(0)" [matMenuTriggerFor]="menu"
                                            #menuTrigger="matMenuTrigger" (click)="menuTrigger.openMenu()"
                                            id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false" style="outline: none;font-size: 12px;color: #000  ;">
                                            <img src="assets/images/doted.svg" alt="user" width="20">
                                        </a>
                                        <mat-menu #menu="matMenu" [overlapTrigger]="false">
                                            <span (mouseleave)="menuTrigger.closeMenu()">
                                                <button mat-menu-item (click)="deleteUser(user?._id)">
                                                    <span> <i class="fa fa-trash"></i> &nbsp;
                                                        Delete</span>
                                                </button>
                                            </span>
                                        </mat-menu>
                                    </td>
                                </tr>

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content-body">
        <div class="row">
            <div class="col-12">
                <nav aria-label="Page navigation example">
                    <ul class="pagination" style="float:right;">
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>

                    </ul>
                </nav>
            </div>
        </div>
    </div>



</div>