<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="row">
            <div class="col-6">
                <h2 class="header1">Merchants</h2>
            </div>
            <div class="col-6" style="text-align: right;">
                <button type="button" 
                *ngIf="userData.role == 'merchant' || userData.role == 'superAdmin' "
                class="btn btn-primary mr-4"
                    (click)="newouletDialog()"><i class="fa fa-plus"></i>
                    Add New Outlet</button>
                <button type="button" *ngIf="userData?.role == 'superAdmin'" class="btn btn-secondary"
                    (click)="newmarchantDialog()"><i class="fa fa-plus"></i>
                    Add New Merchant</button>
            </div>
        </div>
    </div>
    <div class="content-body">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">

                    </div>
                    <div class="col-6" style="text-align: right;">
                        <div class="row" style="text-align: right;">
                            <div class="col-7"></div>
                         
                            <div class="col-5">
                                <mat-form-field appearance="fill">
                                    <mat-label>Store</mat-label>
                                    <mat-select>
                                        <mat-option value="one">Store 1</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Merchant name</th>
                                    <th scope="col">Username</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Phone Number</th>
                                    <th scope="col">No. Of Outlets</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let merchant of merchants">
                                    <th scope="row">{{merchant?.storeName}}</th>
                                    <td>{{merchant?.userName}}</td>
                                    <td>{{merchant?.email}}</td>
                                    <td>{{merchant?.phoneNumber}}</td>
                                    <td>0</td>
                                    
                                    <td>
                                        <a class="nav-link" href="javascript:void(0)" [matMenuTriggerFor]="menu"
                                            #menuTrigger="matMenuTrigger" (click)="menuTrigger.openMenu()"
                                            id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false" style="outline: none;font-size: 12px;color: #000  ;">
                                            <img src="assets/images/doted.svg" alt="user" width="20">
                                        </a>
                                        <mat-menu #menu="matMenu" [overlapTrigger]="false">
                                            <span (mouseleave)="menuTrigger.closeMenu()">
                                                <button mat-menu-item (click)="deleteMerchant(merchant?._id)">
                                                    <span> <i class="fa fa-trash"></i> &nbsp; &nbsp; &nbsp;
                                                        Delete</span>
                                                </button>
                                            </span>
                                        </mat-menu>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content-body">
        <div class="row">
            <div class="col-12">
                <nav aria-label="Page navigation example">
                    <ul class="pagination" style="float:right;">
                        <li class="page-item active"><a class="page-link" href="javascript:void(0)">1</a></li>
                        <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
                        <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>

                    </ul>
                </nav>
            </div>
        </div>
    </div>



</div>