
        <!-- ========== Left Sidebar Start ========== -->
        <div class="left side-menu">
            <div class="slimscroll-menu" id="remove-scroll">

                <!--- Sidemenu -->
                <div id="sidebar-menu">
                    <!-- Left Menu Start -->
                    <ul class="metismenu" id="side-menu">
                        <li class="menu-title">Menu</li>
                        <li>
                            <a routerLink="/dashboard" routerLinkActive="mm-active" class="waves-effect">
                                 
                                  <img src="assets/images/speedometer.svg" height="25">
                                <span> Dashboard </span>
                            </a>
                        </li>
                          <li>
                            <a routerLink="/analytics" routerLinkActive="mm-active" class="waves-effect">
                          <img src="assets/images/page.svg" height="25">
                                <span> Analytics </span>
                            </a>
                        </li>
                          <li>
                            <a routerLink="/customers" routerLinkActive="mm-active" class="waves-effect">
                                <img src="assets/images/bar-chart.svg" height="25">
                                <span> Customers </span>
                            </a>
                        </li>
                          <li>
                            <a routerLink="/outlets" routerLinkActive="mm-active" class="waves-effect">
                              <img src="assets/images/settings.svg" height="25">
                                <span> Outlets </span>
                            </a>
                        </li>
                          <li>
                            <a routerLink="/settings" routerLinkActive="mm-active" class="waves-effect">
                              <img src="assets/images/settings.svg" height="25">
                                <span> Settings </span>
                            </a>
                        </li>
                          <li>
                            <a routerLink="/profile" routerLinkActive="mm-active" class="waves-effect">
                              <img src="assets/images/settings.svg" height="25">
                                <span> Profile </span>
                            </a>
                        </li>
                          <li>
                            <a routerLink="/green-card" routerLinkActive="mm-active" class="waves-effect">
                              <img src="assets/images/settings.svg" height="25">
                                <span> Green Card </span>
                            </a>
                        </li>

                        

                    </ul>

                </div>
                <!-- Sidebar -->
                <div class="clearfix"></div>

            </div>
            <!-- Sidebar -left -->

        </div>
        <!-- Left Sidebar End -->