<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <h2 class="header1">Analytics</h2>
    </div>
    <div class="content-body">
        <div class="card">
            <div class="card-body">
               <div class="row">
                   <div class="col-3">
                     <mat-form-field appearance="fill">
                        <mat-label>Select</mat-label>
                        <mat-select>
                            <mat-option value="one"  selected>Last Week</mat-option>
                        </mat-select>
                        </mat-form-field>
                   </div>
                   <div class="col-3">
                     <mat-form-field appearance="fill">
                        <mat-label>Select</mat-label>
                        <mat-select>
                            <mat-option *ngFor="let plan of plans" [value]="plan._id" >{{plan.cardtype}}</mat-option>
                            <!-- <mat-option value="one">Business Card</mat-option>
                            <mat-option value="one">International Card</mat-option> -->
                        </mat-select>
                        </mat-form-field>
                   </div>
                   <!-- <div class="col-3">
                     <mat-form-field appearance="fill">
                        <mat-label>Select</mat-label>
                        <mat-select>
                            <mat-option value="one">London</mat-option>
                        </mat-select>
                        </mat-form-field>
                   </div> -->
               </div>

                <div class="row">
                   <div class="col-12 pt-3">
                    <h3 class="header3">Local Card | 320 </h3>
                   </div>
                    <div class="col-12 pt-1 pb-4">
                    <div class="progress">
                        <div class="progress-bar" 
                        role="progressbar" style="width: 50%" aria-valuenow="50"
                         aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
               </div>

            </div>
        </div>
    </div>

    



</div>
