.header1 {
    font-size: 24px;
    font-weight: 600;
}
.header2 {
    font-size: 20px;
    font-weight: 500;
}

.header3 {
    font-size: 18px;
    font-weight: 500;
}

.btn-primary {
    background-color: #07555c;
    border: #07555c;
}
.btn-secondary {
    background-color: #3ca063;
    border: #3ca063;
}

.btn-outline-primary {
    color: #6c6c6c;
    border: 1px solid #838383;
    padding: 11px 27px;
}
.btn-outline-primary:hover,
.btn-outline-primary:active,
.btn-outline-primary:focus,
.btn-outline-primary:not([disabled]):not(.disabled):active {
    background-color: #fff;
    color: #6c6c6c;
}

.table thead th {
    color: #9d9d9d;
}
.editoverlay {
    position: absolute;
    //top: 0;
    //left: 0;
    right: 64px;
    bottom: 120px;
    z-index: 999;
}
