<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="row">
            <div class="col-6">
                <h2 class="header1">Overview</h2>
            </div>
          
        </div>
    </div>
<div class="content" style="margin-top:10px;">
    <div class="row">
        <div class="col-8">
            <div class="row">
                <div class="col-sm-4">
                    <div class="card">
                    <div class="card-body" style=" padding: 2em 1em;">
                        <div class="row">
                            <div class="col-md-3 col-sm-3 ml-3" 
                            style="background-color: #3ca0634f;padding-top: 13px; border-radius: 5px;text-align: center;">
                                    <img src="assets/images/up-arrow.svg" 
                                    alt="user" width="20"  >
                            </div>
                            <div class="col-md-8">
                               <h5 class="mb-1">Users</h5>
                                 <div> <span style="color: #000;font-size: 20px;">284</span> 
                                    &nbsp; <span style="color: #aec727;font-size: 13px;">+ 3.55%</span></div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                     <div class="card-body" style=" padding: 2em 1em;">
                        <div class="row">
                            <div class="col-md-3 col-sm-3 ml-3"
                             style="background-color: #ff363663;padding-top: 13px; border-radius: 5px;text-align: center;">
                                    <img src="assets/images/download-arrow.svg" 
                                    alt="user" width="20"  >
                            </div>
                            <div class="col-md-8">
                               <h5 class="mb-1">Stores</h5>
                                 <div> <span style="color: #000;font-size: 20px;">8</span> 
                                    &nbsp; <span style="color: #ff3636;font-size: 13px;">- 3.55%</span></div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                    <div class="card-body" style=" padding: 2em 1em;">
                        <div class="row">
                            <div class="col-md-3 col-sm-3 ml-3"
                             style="background-color: #3ca0634f;padding-top: 13px; border-radius: 5px;text-align: center;">
                                    <img src="assets/images/up-arrow.svg" 
                                    alt="user" width="20"  >
                            </div>
                            <div class="col-md-8">
                               <h5 class="mb-1">Outlets</h5>
                                 <div> <span style="color: #000;font-size: 20px;">36</span> 
                                    &nbsp; <span style="color: #aec727;font-size: 13px;">+ 3.55%</span></div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                
          </div>
             <div class="row">
                 <div class="col-12">
                     <div class="card">
                    <div class="card-body" style=" padding: 2em 1em;">
                        <div class="row">
                            <div class="col-md-3">
                            <mat-form-field appearance="fill" style="width: 150px;">
                            <mat-label>Last 30 Days</mat-label>
                            <mat-select>
                                <mat-option value="one"  selected>Last 30 Days</mat-option>
                            </mat-select>
                            </mat-form-field>
                            </div>
                        </div>
                      <h2 class="header2">Card transactions/purchases preview</h2>
                     <div style="display: block;">
                        <canvas baseChart 
                            [datasets]="barChartData"
                            [labels]="barChartLabels"
                            [options]="barChartOptions"
                              [colors]="barChartColors"
                            [plugins]="barChartPlugins"
                            [legend]="barChartLegend"
                            [chartType]="barChartType">
                        </canvas>
                        </div>
                 </div>
                 </div>
                 </div>
             </div>

          
        </div>
        <div class="col-4">
               <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                    <div class="card-body" style=" padding: 2em 1em;">
                         

                        <h2 class="header2">Card Statistics</h2>
                        <div style="display: block;">
                            <canvas baseChart 
                                [data]="doughnutChartData"
                                [labels]="doughnutChartLabels"
                                   [colors]="chartColors"
                                [chartType]="doughnutChartType">
                            </canvas>
                        </div>
                        </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                     <div class="col-12">
                     <div class="card">
                    <div class="card-body" style=" padding: 2em 1em;">
                        <div class="row">
                         <div class="col-md-3">
                         <mat-form-field appearance="fill" style="width: 150px;">
                        <mat-label>Monthly</mat-label>
                        <mat-select>
                            <mat-option value="one"  selected>January</mat-option>
                        </mat-select>
                        </mat-form-field>
                        </div>
                         <div class="col-2"></div>
                        <div class="col-3">
                          <mat-form-field appearance="fill" style="width: 150px;">
                        <mat-label>Last Year</mat-label>
                        <mat-select>
                            <mat-option value="one">2020</mat-option>
                        </mat-select>
                        </mat-form-field>
                        </div>
                        </div>

                      <h2 class="header2">Revenue</h2>
                     <div style="display: block;">
                        <canvas baseChart 
                            [datasets]="barChartDataStack"
                            [labels]="barChartLabelsStack"
                            [options]="barChartOptionsStack"
                            [plugins]="barChartPluginsStack"
                              [colors]="barChartColorsStack"
                            [legend]="barChartLegendStack"
                            [chartType]="barChartTypeStack">
                        </canvas>
                        </div>
                 </div>
                 </div>
                 </div>
                </div>
        </div>

    </div>
    </div>


</div>