<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="row">
            <div class="col-6">
                <h2 class="header1">Overview</h2>
            </div>
          
        </div>
    </div>
<div class="content" style="margin-top:10px;">
    <div class="row">
        <div class="col-8">
            <div class="row">
                <div class="col-sm-3">
                    <div class="card">
                    <div class="card-body" style=" padding: 1em;">
                        <div class="row">
                            <div class="col-md-3 col-sm-3 ml-3" style="background-color: #3ca0634f;padding-top: 13px; border-radius: 5px;">
                                    <img src="assets/images/up-arrow.svg" 
                                    alt="user" width="20"  >
                            </div>
                            <div class="col-md-8">
                               <h5 class="mb-1">Users</h5>
                                 <div> <span style="color: #000;font-size: 20px;">284</span> 
                                    &nbsp; <span style="color: #aec727;font-size: 13px;">+ 3.55%</span></div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                    <div class="card-body" style=" padding: 1em;">
                        <div class="row">
                            <div class="col-md-3 col-sm-3 ml-3" style="background-color: #ff363663;padding-top: 13px; border-radius: 5px;">
                                    <img src="assets/images/download-arrow.svg" 
                                    alt="user" width="20"  >
                            </div>
                            <div class="col-md-8">
                               <h5 class="mb-1">Stores</h5>
                                 <div> <span style="color: #000;font-size: 20px;">8</span> 
                                    &nbsp; <span style="color: #ff3636;font-size: 13px;">- 3.55%</span></div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                    <div class="card-body" style=" padding: 1em;">
                        <div class="row">
                            <div class="col-md-3 col-sm-3 ml-3" style="background-color: #3ca0634f;padding-top: 13px; border-radius: 5px;">
                                    <img src="assets/images/up-arrow.svg" 
                                    alt="user" width="20"  >
                            </div>
                            <div class="col-md-8">
                               <h5 class="mb-1">Outlets</h5>
                                 <div> <span style="color: #000;font-size: 20px;">36</span> 
                                    &nbsp; <span style="color: #aec727;font-size: 13px;">+ 3.55%</span></div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                
          </div>
        </div>
        <div class="col-4">

        </div>

    </div>
    </div>


</div>