<div class="default-padding-30">
    <div class="container">
        <div class="row">
         <div class="col-12">
        <h1 class="header1" style="float: left;">User Details</h1>
        <div  style="float: right;" mat-dialog-close><img src="assets/images/cancel.svg" width="20" /></div>
         </div>
         </div>
        <div class="row">
         <div class="col-12">
          <table class="table">
              <tr>
                  <td width="20%"><span style="color: #9d9d9d;font-size: 14px;">User Name :</span></td>
                  <td><span style="color: #000;font-weight: bold;font-size: 14px;">Gabriel Samuel</span></td>
              </tr>
              <tr>
                  <td width="20%"><span style="color: #9d9d9d;font-size: 14px;">Card Type :</span></td>
                  <td><span style="color: #000;font-weight: bold;font-size: 14px;">International</span></td>
              </tr>
               <tr>
                  <td width="20%"><span style="color: #9d9d9d;font-size: 14px;">Records :</span></td>
                  <td><span style="color: #000;font-weight: bold;font-size: 14px;">45</span></td>
              </tr>
               <tr>
                  <td width="20%"><span style="color: #9d9d9d;font-size: 14px;">Referrals :</span></td>
                  <td><span style="color: #000;font-weight: bold;font-size: 14px;">10</span></td>
              </tr>
                 <tr>
                  <td width="20%"><span style="color: #9d9d9d;font-size: 14px;">Withdrawal Request :</span></td>
                  <td><span style="color: #000;font-weight: bold;font-size: 14px;">$ 400</span></td>
              </tr>
                 <tr>
                  <td width="20%"><span style="color: #9d9d9d;font-size: 14px;">Payment Mode :</span></td>
                  <td><span style="color: #000;font-weight: bold;font-size: 14px;">Bank Transfer</span></td>
              </tr>
                 <tr>
                  <td width="20%"><span style="color: #9d9d9d;font-size: 14px;">Paccount Number :</span></td>
                  <td><span style="color: #000;font-weight: bold;font-size: 14px;">90501050172356</span></td>
              </tr>
                 <tr>
                  <td width="20%"><span style="color: #9d9d9d;font-size: 14px;">Bank Code :</span></td>
                  <td><span style="color: #000;font-weight: bold;font-size: 14px;">SBICNGLX</span></td>
              </tr>

          </table>
        <div class="pt-3">
            <button type="button" class="btn btn-primary mr-2">Approved</button>
            <button type="button" class="btn btn-default" >Decline </button>
        </div>
         </div>
         
    </div>
</div>